In [1]:
1
s="Shri"
li=[1,2,"Shri",True]
f=1.233
ti=(1 ,2, "a")


2
var1=String
var2 =str
var3 =list
va4 =int

In [6]:
 3
    4/3 =1.33
    4/3=1
    4%3=1
    4**3=65

str

In [8]:
li=[1, 2, 3,"a", True]
i=1
for i in li :
    print(i)

1
2
3
a
True

In [20]:
li = list(range(1,26))
for i in li :
    if i%3==0:
        print(i ," is divisible by 3")
    else :
         print(i ," is  not divisible by 3")

1  is  not divisible by 3
2  is  not divisible by 3
3  is divisible by 3
4  is  not divisible by 3
5  is  not divisible by 3
6  is divisible by 3
7  is  not divisible by 3
8  is  not divisible by 3
9  is divisible by 3
10  is  not divisible by 3
11  is  not divisible by 3
12  is divisible by 3
13  is  not divisible by 3
14  is  not divisible by 3
15  is divisible by 3
16  is  not divisible by 3
17  is  not divisible by 3
18  is divisible by 3
19  is  not divisible by 3
20  is  not divisible by 3
21  is divisible by 3
22  is  not divisible by 3
23  is  not divisible by 3
24  is divisible by 3
25  is  not divisible by 3

 mutable datavalues can be changed. immutable datavalues cant be changed.